html {
    font-family: 'Helevetica', sans-serif;
  }

  body {
    margin: 0;
  }

  div:focus {
    outline: none;
  }

  #code-content {
    padding-top: 10px;
    font-size: 24px;
  }

  .contentibale {
    width: 100%;
    border: 1px solid black;
    overflow-y: scroll;
    height: 320px;
    padding: 5px;
  }

  .redactor {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 50px;
  }

  #heading {
    display: flex;
    cursor: pointer;
    font-size: 12;
    padding-bottom: 10px;
  }

  font[size='5']{
    font-size: 24px; 
  }

  font[size='6']{
    font-size: 32px; 
  }

  font[size='7']{
    font-size: 48px; 
  }

  .btn {
    background: none;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right: 8px;
  }