#code-content {
  padding-top: 10px;
  font-size: 24px;
  display: none;
}

.contentibale {
  width: 100%;
  overflow-y: scroll;
  height: 320px;
  padding: 11px;
  background-color: white;
  color: #424242;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  font-family: 'Inter';
}

a{
  text-decoration: none;
}

#redactor {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

#heading {
  background-color: white;
  border-bottom: 1px solid #424242;
  display: flex;
  cursor: pointer;
  padding: 10px;
}

[contenteditable=true]:empty:not(:focus):before{
  content:attr(data-ph);
  color:grey;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  font-family: 'Inter';
}

.btn-redactor {
  background-color: white!important;
  color: black;
  text-align: center;
  cursor: pointer;
  width: 25px;
  background: none;
  border-radius: 5px;
  margin-right: 8px;
  padding-top: 4px;
}

.btn-redactor:hover {
  background-color: #f0f0f0!important;
  color: black!important;
}

.get-color {
  height: 19px;
  width: 100px;
}

.o_wblog_read_text{
  word-break: break-word;
}

.o_wblog_normalize_font {
  word-break: break-word;
}

.toolbar-color {
  padding: 0!important;
  border: none!important;
  width: 22.5px;
  height: 25px;
  cursor: pointer;
}